@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700);

.footer-area{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mini-footer {
 padding:20px;
}
.mini-footer p {
 line-height:15px;
 font-size:12px;
 color:#999
}
.mini-footer p a {
 color:#5867dd
}
.mini-footer p a:hover {
 color:#34bfa3
}

@media screen and (max-width: 768px) and (min-width: 320px) {
.mini-footer{
    background:#111111;
    text-align:center;
    padding:20px 0;
    width: 100%;
    height: max-content;
    display: none;
}
}
