@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700);


.mini-footer {
 background:#111111;
 text-align:center;
 padding:20px 0;
 width: 100%;
 height: max-content;
}
.mini-footer p {
 margin:0;
 line-height:16px;
 font-size:14px;
 color:#999
}
.mini-footer p a {
 color:#5867dd
}
.mini-footer p a:hover {
 color:#34bfa3
}

@media screen and (max-width: 768px) and (min-width: 320px) {
.mini-footer{
    display: none;
}
}
