.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f5fa;
  height: 200px;
  width: 100%;
}
.check-status-container{
display: flex;
flex-direction: column;
justify-content: space-between;
}
.card-container-child {
  background-color: #ffffff;
  height: 200px;
  width: 400px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  margin-top: 30px;
}
.card-container-child:hover {
  box-shadow: rgba(227, 167, 46, 0.858) 0px 3px 10px;
}
.card-image{
  height: 70px;
  width: 70px;
}
.arrow-div {
  display: flex;
  justify-content: end;
  margin: 5px;
}
.check-status {
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: left;
  padding-left: 15px;
}
.count-bar {
  font-size: 12px;
  font-weight: bold;
}
.count-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  justify-content: start;
  padding: 5px;
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .card-container {
    background-color: #f6f5fa;
    width: 100%;
    display: none;
    height: 130px;
  }

  .card-container-child {
    background-color: #ffffff;
    height: 100px;
    width: 150px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    margin-top: 30px;
  }
  .count-container {
    width: 100%;
    display: flex;
    margin: 10px;
    justify-content: start;
    padding: 0px;
  }
  .card-image{
    height: 40px;
    width: 40px;
  }
}
